/flutter/*/android/
/flutter/*/.dart_tool/
/flutter/*/.idea/
/flutter/*/build/
/flutter/*/ios/
/flutter/*/linux/
/flutter/*/macos/
/flutter/*/test/
/flutter/*/web/
/flutter/*/windows/
/flutter/*/.gitignore
/flutter/*/.metadata
/flutter/*/analysis_options.yaml
/flutter/*/pubspec.lock
/flutter/*/pubspec.yaml
